<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ with site.Params.author }}<meta name="author" content="{{ . }}" />{{ end }}
    {{ if eq .Type "blog" }}
      {{ with .Params.metadescription }}<meta name="description" content="{{ . }}" />{{ end }}
      {{ with .Params.metakeywords }}<meta name="keywords" content="{{ . }}" />{{ end }}
    {{ else }}
      {{ with site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
      {{ with site.Params.keywords }}<meta name="keywords" content="{{ . }}" />{{ end }}
    {{ end }}


    <base href="{{ .Permalink }}" />
    <title>{{ block "title" . }}{{ site.Title }}{{ end }}</title>

    <link rel="canonical" href="{{ .Permalink }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}" />

    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico?v=3" | absURL }}" />
    <link rel="icon" type="image/png" href="{{ "/images/favicon.png?v=3" | absURL }}" sizes="32x32" />

    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ site.Title }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ site.Title }}" />
    {{ end }}
  </head>

  <body>
    <main class="wrapper">
      {{ partial "header.html" . }}


      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>

      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
