<section class="container">
  <article class="blogpost">
    <header>
      {{ $months := dict "Jan" "Ene" "Feb" "Feb" "Mar" "Mar" "Apr" "Abr" "May" "May" "Jun" "Jun" "Jul" "Jul" "Aug" "Ago" "Sep" "Sep" "Oct" "Oct" "Nov" "Nov" "Dec" "Dic" }}
      <h1 class="title">{{ .Title }}</h1>
      <h2 class="date">{{ .Date.Format "2" }} de {{ index $months (.Date.Format "Jan") }} de {{ .Date.Format "2006" }}</h2>
      <p style="margin-bottom: 0">
        <b>Tiempo de lectura</b>:
        {{ if eq .ReadingTime 1 }}
          1 minuto
        {{ else }}
          {{ .ReadingTime }} minutos
        {{ end }}
      </p>
      <p style="margin-bottom: 0; margin-top: 0;">
        {{ with .GetTerms "categories" }}
          <b>Categorías:</b>
          {{ $categories := slice }}
          {{ range . }}
            {{ $categories = $categories | append (printf `<a href="%s">%s</a>` .RelPermalink .LinkTitle) }}
          {{ end }}
          {{ delimit $categories ", " | safeHTML }}
        {{ end }}
      </p>
      <p style="margin-top: 0">
        {{ with .GetTerms "tags" }}
          <b>Etiquetas:</b>
          {{ $tags := slice }}
          {{ range . }}
            {{ $tags = $tags | append (printf `<a href="%s">%s</a>` .RelPermalink .LinkTitle) }}
          {{ end }}
          {{ delimit $tags ", " | safeHTML }}
        {{ end }}
      </p>
    </header>

    <div class="post-content">
      {{ .Content }}
    </div>

    <hr class="endofpost" />

    <p style="text-align: center;">
      <i>
        ¿Preguntas o comentarios sobre este artículo?
        <br />
        Puedes enviarme un
        <a href="https://www.linkedin.com/in/josetoral/" target="_blank">mensaje en LinkedIn</a>
        o encontrarme en la
        <a href="/contact">página de contacto</a>.

        <br />
        <br />

        Si te gustan mis artículos, considera suscribirte a mi <a href="/blog/index.xml" target="_blank">feed RSS</a>.
      </i>
    </p>

    <hr class="endofpost" />
  </article>
</section>
